.dialog{
  background-color: darkseagreen;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  padding: 40px;
}

.body{
  background-color: antiquewhite;
}

.background {
  background-color: gray;
  opacity: 0.75;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

