.dialog{
  /*background-color: darkseagreen;*/
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  min-width: 400px;
}

.content {
  padding: 40px;
}

.background {
  background-color: rgba(130,130,130, 0.75);
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
}

