<strong>
  <button type="button" class="btn btn-link" (click)="showDialog()">{{location.countryName}}, {{location.cityName}}
  </button>
</strong>

<dialogbox #dialogBox [title]="'Select location'">
  <div *ngIf="message" class="alert alert-danger">
    {{message}}
  </div>
  <div class="row">
    <div class="form-group">
      <label for="inputCountry" class="control-label col-xs-4">Country</label>
      <div class="col-xs-8">
        <select class="form-control" [(ngModel)]="selectedCountry" (change)="countryChanged()" id="inputCountry">
          <option *ngFor="let c of countriesList" [ngValue]="c">{{c.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputCity" class="control-label col-xs-4">City</label>
      <div class="col-xs-8">
        <select class="form-control" [(ngModel)]="selectedCity" *ngIf="selectedCountry" id="inputCity">
          <option *ngFor="let s of selectedCountry.cities" [ngValue]="s">{{s.name}}</option>
        </select>
      </div>
    </div>

    <div>
      <div class="col-xs-8">
        <button (click)="saveLocation()" class="btn btn-success">Ok</button>
      </div>
    </div>
  </div>
</dialogbox>
