<form novalidate *ngIf="user" class="form-inline">

  <div>
    {{user|json}}
  </div>

  <div class="form-group has-success has-feedback">
    <label for="inp">Name:</label>
    <input type="text" class="form-control" id="inp" name="name" [(ngModel)]="user.name">
  </div>

  <div>
    <label>Age:
      <input name="age" [(ngModel)]="user.age">
    </label>
  </div>
  <div>Skills:
    <div *ngFor="let s of user.skills">
      {{getSkillName(s.skillId)}} - {{s.experience}}
    </div>
  </div>

  <!--<select formControlName="experience">-->
  <!--<option *ngFor="let i of [-2,-1,0,1,2]">{{i}}</option>-->
  <!--</select>-->

  <div>
    <a href="javascript:void(0)" (click)="onSubmit()">Save</a> &nbsp;
    <a href="javascript:void(0)" (click)="revert()">Revert</a>
  </div>
</form>

